/*
Theme Name: glam-b
Description: This is a custom child theme for zoa
Author: gonzarfati
Author URI: https://elegant.co.il
Template: zoa
*/


/* =Theme customization starts here
-------------------------------------------------------------- */

/*.cart .single_add_to_cart_button.disabled {*/
    /*cursor: default;*/
    /*pointer-events: auto;*/
    /*opacity: 1;*/
/*}*/

.add_to_payment_custom {
    background-color: #65377f !important;
}


.single-product .cart .single_add_to_cart_button {
    margin-right: 0;
    width: 100%;
}

.single-product .cart .quantity {
    display: none;
}

.single-product .cart .yith-wcwl-add-to-wishlist {
    float:none !important;
    width: 130px;
    margin-bottom: 20px;
}

.actions {
    text-align: left;
}

.actions .wc-forward {
    background: #65377f;
    padding: 10px 25px;
    color: #fff;
    margin-right: 20px;
}

.actions .wc-forward:hover {
    color: #fff;
    opacity: 0.8;
}

.update_cart_button {
    display: none;
}

.address-field {
    width: calc( ( 100% - 40px ) / 2);
    /*margin-right: 20px;*/
    /*float: left !important;*/
}

.validate-phone {
    width: calc( ( 100% - 40px ) / 2);
}

.validate-email {
    width: calc( ( 100% - 40px ) / 2);
}

#customer_details .form-row {
    margin: 10px;
    width: calc((100% / 2) - 20px) ;
}


@media (max-width: 767px) {
    #customer_details .form-row {
        width: 100%;
        margin: 10px 0;
    }
}

.woocommerce-cart .woocommerce-cart-form th {
    background: #ffffff;
}

@media(min-width: 1200px) {
    .woocommerce-cart .woocommerce-cart-form .product-name {
        width: 250px;
    }
}


